/* HERO SECTION */

.hero {
  padding: 100px 20px;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-role {
  color: #38bdf8;
  margin: 10px 0;
}

.hero-desc {
  max-width: 600px;
  margin: auto;
  color: #94a3b8;
}

.hero-buttons {
  margin-top: 20px;
}

/* SECTION TITLE */
.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* CARD */
.project-card {
  background: #1e293b;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.card-title {
  margin-bottom: 10px;
}

.card-desc {
  color: #94a3b8;
}

/* BUTTONS */
.card-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.card-buttons a {
  background: #38bdf8;
  padding: 6px 12px;
  border-radius: 6px;
}

/* reusable button */

.btn-main {
  background: #38bdf8;
  padding: 10px 20px;
  border-radius: 6px;
  display: inline-block;
}

.contact-text {
  margin-bottom: 10px;
}

.contact-links {
  display: flex;
  gap: 15px;
  justify-content: center;
}